/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --bg-warm-white: #fffcfa;
  --second-color:#fff6eb;
  --text-black : #1b1b1b;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--bg-warm-white);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/font/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lora';
  src: url(src/assets/font/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Italianno';
  src: url(src/assets/font/Italianno/Italianno-Regular.ttf);
}
@font-face {
  font-family: 'Tomorrow';
  src: url(src/assets/font/Tomorrow/Tomorrow-ExtraLightItalic.ttf);
}
.title, h1, h2, h3, h4, h5{
  font-family : 'Lora' ;
  text-align: center;
}
p{
  text-align: center;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family : 'lato' !important;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 22px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section{
  width: 100%;
  overflow: hidden;
  min-height: 1000px;
}
h2{
    margin : 173px 0 50px;
    width: 100%;
}
svg{
  fill : var(--text-black);
  width: 40px;
  height: 40px;
  margin : 10px;
}

#contact svg{
  fill : var(--second-color) ;
  margin : 20px;
  width: 70px;
  height: 70px;
}
.pictureSide{
  width: 50%;
}
a:hover{
  transform: scale(1.1);
  transition:  transform .2s;
}
li a:hover{
  transform: scale(1.1);
  transition:  transform .2s;
}
a{  
  transition:  transform .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (orientation: portrait) {      
  .pictureSide{
    display: none;
  }
}